.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.app__main {
  flex: 1;
  min-height: 0;
  position: relative;
  overflow: hidden;
}

.app-route {
  height: 100%;
}
